<TABLE class="restaurant">
  <tr>
    <td class="tdh">
      <%= label :restaurant, :name %>
    </td>
    <td>
      <%= @restaurant.name %>
	</td>
  </tr>
</table>

<table class="lunch">
  <tr>
    <td class="tdh">
      <%= label :lunch, :name %>
    </td>
   <td>
    <%= @lunch.name %></TD>
   </td>
  </tr>
</table>
