<h1>ランチコメント修正</h1>

<%= render 'form' %>

<%= link_to 'Show', @lunch_comment %> |
<%= link_to 'コメント一覧に戻る', lunch_comments_path %>
<br />
<br />
<%= link_to '検索・一覧画面へ', {:controller => "summary_lists"} %><br />
