<h1>Editing lunch</h1>

<%= render 'form' %>

<%= link_to 'Show', @lunch %> |
<%= link_to 'ランチ一覧に戻る', lunches_path %>
<br />
<br />
<%= link_to 'ランチ検索に行く', {:controller => "summary_lists"} %>
>>>>>>> shioi/work
